<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head') %>
  </head>
  <body>
    <%- include('include/header') %> <%- include('include/aside') %>
    <main>
      <h1>Page Not Found!</h1>
      <p>Unfortunately, we weren't able to find this page!</p>
    </main>
  </body>
</html>
