<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head') %>
  </head>
  <body>
    <%- include('include/header') %> <%- include('include/aside') %>
    <main>
      <h1>Something went Wrong!</h1>
      <p>
        Unfortunately, something went Wrong on the server, we're doing our best
        to fix it as quickly as possible!
      </p>
    </main>
  </body>
</html>
